div.thumbnails {
  width: 400px;
  margin: 0 auto;
}

.gutter {
  width: 100%;
  position: relative;
}

.gutter-images {
  display: block;
  float: left;
  width: 90%;
  position: relative;
  left: 5%;
}

.gutter:after {
  content: "";
  clear: both;
  display: block;
}

.gutter-images img {
  width: 20%;
  margin: 0 auto;
}

a.nav {
  width: 5%;
  position: absolute;
  transform: translateY(50%);
  font-size: 24pt;
  text-decoration: none;

}

a.nav:last-of-type {
  left: 96%;
}

/*div .thumbnails:after {
  content: "";
  display: block;
  clear:both;
}

a.nav:first-of-type:after {
  content: "";
  display: block;
  clear:both;
}*/

div.active img{
  width: 100%;
}
